/* Définition des variables de couleur */
:root {
    --vermelho: #E50914;
    --preto: #000;
    --cinzaclaro: #AAA;
    --cinzaescuro: #565656;
    --branco: #FFF;
}

/* Styles généraux */
body {
    background: rgb(0, 0, 0);
    font-family: "Netflix Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--branco);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: background-color 0.3s ease;
}

/* Style pour l'en-tête lors du défilement */
.en-tete-scroll {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease;
}

/* Style pour le contenu de l'en-tête */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Style pour le logo */
header .logo {
    width: 100px;
}

/* Style pour le menu */
header .menu {
    display: flex;
    align-items: center;
}

/* Style pour les liens du menu de navigation */
header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--vermelho);
}

/* Style pour la boîte de recherche */
header .search-box {
    margin-right: 20px;
}

/* Style pour l'icône de recherche */
header #search-icon {
    padding: 8px;
    background-color: var(--vermelho);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header #search-icon:hover {
    background-color: #ff0f25;
}

/* Style pour le profil utilisateur */
header .profile {
    color: #fff;
    margin-left: 20px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

header .profile:hover {
    color: var(--vermelho);
}

/* Autres styles */

/* Film principal */
.principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/capa-greys.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: var(--branco);
}

.principal:hover {
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzlqeDFneHU1b3pzYTczNXJmdXB2aWV5c3BvN2x2aTgwZ29jNTg5MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/O4edgZruEZGXkBkTGn/giphy.gif');
    background-size: cover;
    height: 600px;
}

.principal .resume {
    margin-top: 10px;
    margin-bottom: 90px;
    font-family: 'Roboto', sans-serif;
}

.titreP {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Netflix Sans', sans-serif;
}

.container {
    margin-left: 20px;
}

.principal .container {
    width: 70%;
}

.modal {
    color: var(--cinzaclaro);
}

.md-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titre-modal {
    font-size: 2em;
}

.resume-modal {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}



.bouton {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: var(--branco);
    padding: 12px 24px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.bouton:hover {
    background-color: var(--cinzaclaro);
    color: var(--preto);
}

.bouton i {
    margin-right: 6px;
}

.bouton a {
    text-decoration: none;
    color: var(--branco);
}

/* Styles pour le footer */
footer {
    background-color: #000;
    color: #757575;
    padding: 60px 0;
    font-size: 14px;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links {
    flex: 1;
    margin-bottom: 20px;
}

.footer-links a {
    color: #757575;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

.footer-country {
    margin-top: 20px;
    font-size: 12px;
    color: #757575;
}
/* Définition des variables de couleur */
:root {
    --vermelho: #E50914;
    --preto: #000;
    --cinzaclaro: #AAA;
    --cinzaescuro: #565656;
    --branco: #FFF;
}

/* Styles généraux */
body {
    background: rgb(0, 0, 0);
    font-family: "Netflix Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--branco);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: background-color 0.3s ease;
}

/* Style pour l'en-tête lors du défilement */
.en-tete-scroll {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease;
}

/* Style pour le contenu de l'en-tête */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Style pour le logo */
header .logo {
    width: 100px;
}

/* Style pour le menu */
header .menu {
    display: flex;
    align-items: center;
}

/* Style pour les liens du menu de navigation */
header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--vermelho);
}

/* Style pour la boîte de recherche */
header .search-box {
    margin-right: 20px;
}

/* Style pour l'icône de recherche */
header #search-icon {
    padding: 8px;
    background-color: var(--vermelho);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header #search-icon:hover {
    background-color: #ff0f25;
}

/* Style pour le profil utilisateur */
header .profile {
    color: #fff;
    margin-left: 20px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

header .profile:hover {
    color: var(--vermelho);
}

/* Autres styles */

/* Film principal */
.principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/capa-greys.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: var(--branco);
}

.principal:hover {
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzlqeDFneHU1b3pzYTczNXJmdXB2aWV5c3BvN2x2aTgwZ29jNTg5MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/O4edgZruEZGXkBkTGn/giphy.gif');
    background-size: cover;
    height: 600px;
}

.principal .resume {
    margin-top: 10px;
    margin-bottom: 90px;
    font-family: 'Roboto', sans-serif;
}

.titreP {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Netflix Sans', sans-serif;
}

.container {
    margin-left: 20px;
}

.principal .container {
    width: 70%;
}

.modal {
    color: var(--cinzaclaro);
}

.md-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titre-modal {
    font-size: 2em;
}

.resume-modal {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}



.bouton {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: var(--branco);
    padding: 12px 24px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.bouton:hover {
    background-color: var(--cinzaclaro);
    color: var(--preto);
}

.bouton i {
    margin-right: 6px;
}

.bouton a {
    text-decoration: none;
    color: var(--branco);
}

/* Styles pour le footer */
footer {
    background-color: #000;
    color: #757575;
    padding: 60px 0;
    font-size: 14px;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links {
    flex: 1;
    margin-bottom: 20px;
}

.footer-links a {
    color: #757575;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

.footer-country {
    margin-top: 20px;
    font-size: 12px;
    color: #757575;
}


